html {
  /**
 * Setting the box-model globally.
 * 
 * The box-sizing CSS property sets how the total width and height 
 * of an element is calculated.
 * 
 * @see https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing
 */
  box-sizing: border-box;

  --color-01: rgb(111, 110, 110);
  --color-02: rgb(88, 88, 88);
  --color-03: rgb(150, 150, 150);
  --spacing-01: 0.5rem;
  --spacing-02: 0.5rem;
}

*,
*::before,
*::after {
  /**
   * All child elements and their respective pseudo-elements inherit
   * global setting of the box-model explicitly.
   */
  box-sizing: inherit;
}

/**
 * HTML elements for semantic purposes
 */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 1rem;
}

header {
  position: sticky;
  top: 0;
  background-color: #eeeeee;
}

main,
footer {
  margin: 1rem auto;
  max-width: 45rem;
}

footer {
  background-color: #f2f2f2;
  padding: 1rem;
  border: 1px solid #ddd;
}

h1 {
  text-align: center;
}

h2 {
  color: navy;
}

fieldset {
  margin-bottom: 3.5rem;
}

fieldset div {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  margin-bottom: 1rem;
}

fieldset p {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

legend {
  font-weight: bolder;
}

p {
  max-width: 80ch;
}

img[src="./logo.png"] {
  aspect-ratio: 1;
  height: 5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

input:not([type="radio",type="checkbox"]) {
  display: block;
  width: 100%;
  padding: 0.25rem;
}

input[readonly] {
  background-color: #eeeeee;
}

th,
td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 0.5rem;
}

td[colspan="2"] {
  text-align: center;
}

label {
  /* font-weight: bolder; */
  /* display: block; */
}

/**
 * Styles for <button>
 */
input[type="file"],
input[type="submit"],
button {
  transition: background-color 0.5s;
  border: none;
  box-shadow: none;
  background-color: var(--color-01);

  /**
	 * Using logical properties to be prepared for internationalization.
	 * @see https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Logical_Properties/Margins_borders_padding
	 */
  padding-block-start: var(--spacing-01, 0.5rem);
  padding-block-end: var(--spacing-01, 0.5rem);
  padding-inline-start: var(--spacing-02, 1rem);
  padding-inline-end: var(--spacing-02, 1rem);
  line-height: 1.5;
  word-break: normal;
  word-wrap: break-word;
  color: var(--color-02);
  font-family: inherit;
  font-size: inherit;
  will-change: background-color;
  contain: auto;
}

/**
 * Differ between touch enabled device class ad keyboard operated ones.
 * Current media query does not fit here/should be extended!
 */
@media (hover: hover) {
  button:hover,
  button:focus-within {
    background-color: var(--color-03);
  }
}

@supports (display: flex) {
  button,
  [type="button"] {
    display: inline-flex;
    gap: var(--spacing-01, 0.5rem);
    align-items: center;
    justify-content: center;
  }

  [type="submit"] {
    align-self: flex-end;
  }
}

input[type="file"]::file-selector-button {
  /**
	 * touch-action: manipulation
	 * to make clicks not need to wait and observe a potential 
	 * double click, making the buttons feel faster.
	 * Is not required if the HTML document has 
	 * <meta name="viewport" content="width=device-width">.
	 */
  touch-action: manipulation;
}

button svg {
  transform-origin: center center;
  margin: auto;
  block-size: 1.5rem;
  inline-size: 1.5rem;
  vertical-align: middle;
}

footer h2 {
  color: navy;
  margin-bottom: 0.625rem;
}

footer p {
  margin: 0;
}

footer a {
  color: #0056b3;
}

footer a:hover {
  text-decoration: underline;
}

/**
 * CSS classes for decorative purposes
 */
.other {
  padding: 1rem;
}

.instructions,
.results-table {
  background-color: #f2f2f2;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  margin-bottom: 1.25rem;
}

header a {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  color: #000;
}

/* ScollSpa Web Component styles */
scrollspy-nav {
  position: sticky;
  top: 0;
  display: flex;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  background-color: var(--scrollspy-nav-background-color, Canvas);
}

scrollspy-nav > * {
  margin: 0 auto;
  padding: 0;
  display: flex;
  gap: var(--scrollspy-nav-list-gap, 2rem);
  list-style: none;
}

scrollspy-nav li {
  position: relative;
}

scrollspy-nav a {
  display: block;
  margin-block: var(--scrollspy-nav-link-margin-block, 1rem);
  text-decoration: none;
  white-space: nowrap;
  outline-offset: var(--scrollspy-nav-link-outline-offset, 4px);
}

scrollspy-nav [aria-current="true"] {
  color: var(--scrollspy-nav-link-color-active, currentcolor);
}

scrollspy-nav [data-marker] {
  position: absolute;
  top: var(--scrollspy-nav-marker-top, initial);
  bottom: var(--scrollspy-nav-marker-bottom, 0);
  left: 0;
  background-color: var(--scrollspy-nav-marker-color, currentcolor);
  z-index: -1;
  width: 1px;
  height: var(--scrollspy-nav-marker-height, 4px);
  transform-origin: left;
}
