body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 20px auto;
    line-height: 1.6;
}
h2 {
    color: navy;
}
.instructions, .results-table {
    background-color: #f2f2f2;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}
td[colspan="2"] {
text-align: center;
}
button {
    margin-top: 10px;
}

label{
    display: block;
}

button:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.header {
    background-image: url('logo.png');
    background-repeat: no-repeat;
    background-size: contain; /* oder 'cover', je nach Bedarf */
    background-position: left center;
    height: 300px;
    margin-bottom: 20px; /* Abstand zum restlichen Inhalt */
    position: relative; /* Ermöglicht die absolute Positionierung von Elementen innerhalb des Headers */
}

.back-link {
    position: absolute;
    top: 10px; /* Abstand von oben */
    right: 10px; /* Abstand von rechts */
    text-decoration: none; /* Optional: Entfernt die Unterstreichung des Links */
    color: #000; /* Farbe des Links */
    /* Weitere Stilangaben nach Bedarf */
}

.footer {
    background-color: #f2f2f2; /* Gleiche Farbe wie die anderen Container */
    padding: 15px; /* Konsistentes Padding */
    border: 1px solid #ddd; /* Konsistente Border-Gestaltung */
    border-radius: 8px; /* Abgerundete Ecken */
    margin-top: 20px; /* Abstand zum vorherigen Inhalt */
    margin-bottom: 20px; /* Abstand zum Seitenende */
    font-size: 0.9em; /* Etwas kleinere Schrift als der Haupttext */
}

.footer h2 {
    color: navy; /* Gleiche Farbe wie andere h2-Überschriften */
    margin-bottom: 10px; /* Abstand zwischen Überschrift und Text */
}

.footer p {
    margin: 0; /* Entfernt Standardmargins für Paragraphen */
    line-height: 1.4; /* Leichte Anpassung der Zeilenhöhe für bessere Lesbarkeit */
}

.footer a {
    color: #0056b3; /* Linkfarbe, abgestimmt auf das Farbschema */
    text-decoration: none; /* Keine Unterstreichung für Links */
}

.footer a:hover {
    text-decoration: underline; /* Unterstreichung beim Überfahren mit der Maus */
}
